/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

#toc, #thanks_message{
	display: none;
	z-index: 1000;
	position: fixed;
	justify-content: center;
  	align-items: center;
	top: 4%;
	background-color: #fff;
	border-color: black;
	padding: 10px;
	border-width: 1px;
	border-style: solid;
	-webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #ccc;
	
}

#toc_content{
	
	overflow: scroll;
}

#toc_close{
	
	height: 30px;
}

/* Style the container */
/*
.container {
  border-radius: 5px;
  padding: 20px;
  width:100%;
}
*/
/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
} 


/* Style the links inside the navigation bar */

#paypal{
	margin-top: 20px;
}
#setup{
	margin-top: 20px;
}
#check_billing_adress{
    float:left;
    min-width: 235px;
    max-width: 300px;
    
}
#check_dif_deliver_adress{
    float:left;
    min-width: 235px;
    max-width: 300px;
   
}
#paypal_pay{
    float:left;
    min-width: 235px;
    max-width: 300px;
}